
.menu{
  height: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image:url(https://damion.club/uploads/posts/2021-12/1640967112_12-damion-club-p-estetichnie-tsveti-tsveti-12.jpg);
      background-position:center center;
      background-size:cover;
  }
  
  .material-symbols-outlined{
      height: 50px;
      width: 50px;
      margin: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(244 201 151) ;
  }
  .menu1{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items:flex-start;
      margin-top: 3%;
  }
  .brand{
      font-size: small;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: -10%;
      background-color: #00000094;
      height: 60px;
      width: 320px;
      border-radius: 10px;
  }
  .location_icon{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:flex-start;
  }
  .text_color{
      color: rgb(255, 255, 255);
  }
  .icon{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.575);
      margin-top: 1%;
      border: white 2px;
  }
  .form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .full-width {
      width: 100%;
    }
    .field input {
      border: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background:rgb(250 235 192) ;
  margin-right: 115px;
      padding: 12px;
      border-radius: 3px;
      width: 330px;
      font-size: 14px;}
     .search{
      display: flex;
      flex-direction: row;
      justify-content: center;
       color: #f1f1f1;
     }
     .container .btn {
      position: absolute;
     top:30%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #f1f1f1;
      color: black;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      display: flex;
      flex-direction: row;
      font-style: oblique;
      width: 35%;
      align-items: center;
      justify-content: space-evenly;
      font-size: 75%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
  }
  
  .container .btn:hover {
      background-color: black;
      color: white;
  }
  
  .container .btn2 {
      position: absolute;
     top:30%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #f1f1f1;
      color: black;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      display: flex;
      flex-direction: row;
      font-style: oblique;
      width: 35%;
      align-items: center;
      justify-content: space-evenly;
      font-size: 75%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
  }
  
  .container .btn2:hover {
      background-color: black;
      color: white;
  }
  .container_1 {
      background-color:rgb(37 25 11);
      width: 100%;
      }
      
     .block1{
      background-color:rgba(171, 121, 104, 0.055);
      width: 100%;
      height: 600px;
     
      margin: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     }
     .main_part{
      color: #f1f1f1;
      margin-top: 90px;
      display: flex;
     align-items: center;
      flex-direction: column;
  
     }
     .button{
      text-align: center; 
        border-radius: 15px;
      padding: 8px 10px; 
      border: solid 3PX #38251725; 
      color: #382517; ;
      background: #f9f0da;
font-weight: 800;

transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;   
      text-transform: uppercase;
      height: 70px;
      width: 180px;
      position: absolute;
      right: 210px;
      bottom: -1275px;
      
    } 
    .button:hover {
      color: rgb(0, 0, 0);
      background: #ffcc49;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear; 
    }
    .button2{
      text-align: center; 
        border-radius: 15px;
      padding: 8px 10px; 
      border: solid 3PX #38251728; 
      color: #382517; ;
      background: #f9f0da;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;   
      text-transform: uppercase;
      height: 70px;
      width: 180px;
      position: absolute;
      right: 210px;
      bottom: -1880px;
      font-weight: 800;
    } 
    .button2:hover {
      color: rgb(0, 0, 0);
      background: #e98587;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear; 
    }
    .button3{
      text-align: center; 
        border-radius: 15px;
      padding: 8px 10px; 
      border: solid 3PX #38251727; 
      color: #382517; ;
      background: #f9f0da;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;   
      text-transform: uppercase;
      height: 70px;
      width: 180px;
      position: absolute;
      right: 210px;
      bottom: -2485px;
      font-weight: 800;
    } 
    .button3:hover {
      color: rgb(0, 0, 0);
      background: #a7a35d;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear; 
    }
    .button4{
      text-align: center; 
        border-radius: 15px;
      padding: 8px 10px; 
      border: solid 3PX #3825172c; 
      color: #382517; ;
      background: #f9f0da;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;   
      text-transform: uppercase;
      height: 70px;
      width: 180px;
      position: absolute;
      right: 210px;
      bottom: -3090px;
      font-weight: 800;
    } 
    .button4:hover {
      color: rgb(0, 0, 0);
      background:#de6d30 ;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear; 
    }
    .button5{
      text-align: center; 
        border-radius: 15px;
      padding: 8px 10px; 
      border: solid 3PX #3825172d; 
      color: #382517; ;
      background: #f9f0da;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;   
      text-transform: uppercase;
      height: 70px;
      width: 180px;
      position: absolute;
      right: 210px;
      bottom: -3695px;
      font-weight: 800;
      
    } 
    .button5:hover {
      color: rgb(0, 0, 0);
      background:#c1de9c ;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear; }


.picture_products1{background-image:url(https://assets.vogue.ru/photos/618cb0dbb5719d2289a08a27/2:3/w_1600,c_limit/GettyImages-83830643.jpg);
      background-position:center center;
      background-size:cover;
      width:920px;
      height:550px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
   
   
   }
     .picture_products2{background-image:url(https://sbeauty.net/wp-content/uploads/2022/03/11356-13_myths_and_truths_on_retinoids_1296x728-header.jpg);
      background-position:center center;
      background-size:cover;
      width:920px;
      height:550px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
 }
   .picture_products3{background-image:url(https://million-wallpapers.ru/wallpapers/6/52/460708478494721/letnij-pejzazh-more-cvetov.jpg);
    background-position:center center;
    background-size:cover;
    width:920px;
    height:550px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  
  }
  .picture_products4{background-image:url(https://assets.vogue.ru/photos/6130e180c57e2fbcf88e9d87/master/w_1600,c_limit/COVERSTORY_vg_Vogue-Murmansk8419_1-fin_sRGB_.jpg);
    background-position:center center;
    background-size:cover;
    width:920px;
    height:550px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  
  
  }
  .picture_products5{background-image:url(https://s0.rbk.ru/v6_top_pics/media/img/7/32/755549063399327.jpg);
    background-position:center center;
    background-size:cover;
    width:920px;
    height:550px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;

  
  }
  
  a span { display: block; width: 100px; height: 100px; border: 1px solid #FF0; }
a:hover span { border: 1px solid #FF0000; }
  
   .text1{
    width:510px;
    height:270px;
   margin-left: 30px;
  border-radius: 15px;
 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(255, 255, 255);
  font-size: 27px;
  text-align: center;
  font-weight: 700;
    
   }
   .menu_2{
      background-image:url(https://oir.mobi/uploads/posts/2021-04/1618915209_24-oir_mobi-p-esteticheskie-tsveti-tsveti-krasivo-foto-24.jpg);
          background-position:center center;
          background-size:cover;
          width:100%;
          height:590px;
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
        
        
   }
   .text2{
      width:570px;
      height:475px;
     margin-top: 45px;
   font-size: 45px;
   
    color: rgb(255, 255, 255);
     }
     .background_1{
      width:100%;
      height:590px;
     background-color: black;
     position: relative;
     left: 200px;
     }
     .picture_skin{background-image:url(https://assets.vogue.ru/photos/617294cd9fc7d37053071122/master/w_1600,c_limit/IMG_9157_1.jpg);
      background-position:top;
      background-size:cover;
      width:725px;
      height:590px;
     
   
   }
   .picture_skin2{background-image:url(https://i.pinimg.com/736x/d9/89/2f/d9892fdda63be019e585cfc5daf35771.jpg);
      background-position:center;
      background-size:cover;
      width:920px;
      height:590px;
     
   
   }
   .border1 {
display: flex;
flex-direction: row;
justify-content: flex-end;
   }
