.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.picture_1 {
  background-position: center center;
  background-size: cover;
  width: 590px;
  height: 675px;
  background-image: url(https://assets.vogue.ru/photos/61940bacc3438ea4f78b182b/master/w_1600,c_limit/IMG_9718_1.jpg);
}
.block1 {
  display: flex;

  align-items: center;
  justify-content: flex-start;
}
.text_1 {
  font-size: 20px;
  width: 420px;
  height: 350px;
  margin-left: 20px;
  position: relative;
  top: -95px;
  left: -175px;
  margin-top: 250px;
  background-color: rgb(255, 255, 255);
}
.background {
  background-position: center;
  background-size: cover;
  width: 790px;
  height: 725px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-image: url(https://img.freepik.com/free-photo/soap-bubble-sphere-ball-pattern_53876-96099.jpg?w=2000);
}
.icon1 {
  height: 60px;
  width: 60px;

  position: relative;
  top: -275px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5602/5602104.png);
  background-position: center center;
  background-size: cover;
}
